{% extends 'base.html.twig' %}

{% block title %}Edit Stadium{% endblock %}

{% block body %}
    <h1>Edit Stadium</h1>

    {{ include('stadium/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-outline-primary" href="{{ path('stadium_index') }}">Liste des stades</a>

    {{ include('stadium/_delete_form.html.twig') }}
{% endblock %}
