{% extends 'base.html.twig' %}

{% block title %}New Stadium{% endblock %}

{% block body %}
    <h1>Ajouter un stade</h1>

    {{ include('stadium/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('stadium_index') }}">Liste des stades</a>
{% endblock %}
