{% extends 'base.html.twig' %}

{% block title %}New League{% endblock %}

{% block body %}
    <h1>Create new League</h1>

    {{ include('league/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('league_index') }}">Liste des ligues</a>
{% endblock %}
