{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div class="container py-5">
    <h1>Page non trouvée</h1>
    <p>La page que vous cherchez n'a pas été trouvée</p>

    <a class="btn btn-outline-primary" href="{{ path('home')}}">Page d'accueil</a>
</div>
{% endblock %}